#foot_copyright{
    background-color: #174d7b;
    color: #ffffff;
    padding: 1.282rem 0;
}
#foot_copyright p{
    margin: 0;
}
#foot_copyright .social{
    text-align:right;
}
#foot_copyright .social ul{
    list-style-type:none;
}
#foot_copyright .social ul li{
    display:inline;
    padding-left:10px;
    color:#fff;
}
#foot_copyright .social ul li i{
    
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 6px 10px;
    background-color: #fff;
    color: #174D7C;
    font-size: 22px;
}
#foot_copyright .social ul li i:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}
#foot_copyright .social ul{
    margin: 0;
}