<footer id="foot_copyright">
  <div class="container">
    
    <div class="row">
        <div class="col-md-6">
            <p>Copyright 2009-2017 OodlesTechnoloies. All right reserved</p>
        </div>
        <div class="col-md-6 social">
        <ul>
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
        </ul>
        </div>
  </div>
  </div>
</footer>