
<header>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-ood">
  <a class="navbar-brand" href="#"><img src="assets/img/oodlesLogo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PORTFOLIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TECHNOLOGIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MARKETING INSIGHT</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SERVICES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">SERVICES-1</a>
          <a class="dropdown-item" href="#">SERVICES-2</a>
          <a class="dropdown-item" href="#">SERVICES-3</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT US</a>
      </li>
    </ul>
  </div>
</nav>
</div>
</header>