.bg-ood{
    min-height: 73px;
    border-radius: 15px;
    box-shadow: 0px 9px 18px rgba(125,125,125,0.13);
    background-color: #ffffff !important;
    padding: 0 1rem;
}
header {
    padding-top: 45px;
}