.our-service h2{
    font-size: 61px;
    letter-spacing: 5px;
    color: rgb(0,0,0);
    font-family: "Lato";
    font-weight: 300;
    background-image: linear-gradient(268deg, #9f9f9f 0%, #1f75b5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.our-services-grid{
    margin-top: 30px;
    text-align: center;
}
.service_para p {
    font-size: 24px;
    width: 97%;
}
.service-bd{
    padding: 0 36px;
}
.serve-2{
    margin: 45px 0;
}
.service1 img {
    transition: all 1.5s ease-in;
}
.service1 img:hover {
    transform: scale(1.2);
}
button.btn.btn-default.view_service {
    font-size: 24px;
    color: #154e7d;
    background: white;
    border-color: #154e7d;
    margin-bottom: 45px;
    padding: 3px 30px;
    border-width: 2px;
    border-radius: 8px;
}
button.btn.btn-default.view_service:focus{
    box-shadow: none;
}
.trends-bg {
    background-image: url('/assets/img/bg/4683.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 718px;
    background-position: 100% 100%;
}
.trends h2 {
    font-size: 61px;
    letter-spacing: 5px;
    color: rgb(255,255,255);
    font-family: "Lato";
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}
.trends .container{
    padding-top: 12em;
}
.col-md-4.blockchain {
    font-size: 24px;
    letter-spacing: 2px;
    color: rgb(255,255,255);
    font-family: "Lato";
    text-align: center;
}
.trends{
    height: 70em;
}
.view_all button.btn.btn-default{
    position: absolute;
    top: 50%;
    font-size: 24px;
    letter-spacing: 2px;
    color: #154e7d;
    font-family: "Lato";
    text-align: center;
    background: white;
    padding: 0 15px;
    left: 40%;
    border: 2px solid;
    border-radius: 8px;
}
#contact_form {
    background-image: url('/assets/img/bg/Rectangle 13.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.contact {
    background-color: white;
    width: 89%;
    margin-bottom: 46px;
    padding: 30px;
    text-align: center;
    margin-top: 49px;
}
.col-md-6.Blockchain p {
    font-size: 25px;
    letter-spacing: 3px;
    color: rgb(255,255,255);
    font-family: "Lato";
    margin: 0;
}
.col-md-6.Blockchain {
    padding: 15em 0px;
}