<section class="our-service">
  <div class="container">
      <div class="row">
          <div class="col-12">
            <h2>Our Services</h2>
          </div>
      </div>
      <div class="our-services-grid">
        <div class="row">
          <div class="col-md-4">
            <div class="service1">
              <img src="assets/img/Layer 3.png">
            </div>
            <div class="service_para">
              <p>SMART CONTRACTS DEVELOPMENT</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service1">
              <img src="assets/img/Layer 4.png">
            </div>
            <div class="service_para">
             <p>EXCHANGES</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service1">
             <img src="assets/img/Layer 5.png">
            </div>
            <div class="service_para">
              <p class="service-bd">BLOCKCHAIN DEVELOPMENT</p>
            </div>
          </div>
        </div>
        <div class="row serve-2">
            <div class="col-md-4">
              <div class="service1">
                <img src="assets/img/Network-512.png">
              </div>
              <div class="service_para">
                <p>HYPERLEDGER</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service1">
                <img src="assets/img/if_Dzone_669685.png">
              </div>
              <div class="service_para">
               <p>PRIVATE BLOCKCHAIN DEVELOPMENT</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service1">
               <img src="assets/img/Layer 6.png">
              </div>
              <div class="service_para">
                <p class="service-bd">WALLET</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-default view_service" data-toggle="modal" data-target="#myModal">View All Services</button>
            </div>
          </div>
      </div>
  </div>
</section>
<section class="trends">
  <div class="trends-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
              <h2>TRENDS</h2>
            </div>
        </div>
        <div class="row">
        <div class="col-md-4 blockchain">
        <p>How Blockchain Technology</p><p> Will Fortify </p><p>Real Estate Industry</p>
        <div class="view_all">
        <img src="assets/img/Real-Estate-Investment-Dropping.png">
        <button type="button" class="btn btn-default">View All</button>
        </div>
        </div>
        <div class="col-md-4 blockchain">
        <p> Blockchain Technology</p><p> Can Help </p><p>Fight Cyber Crime</p>
        <div class="view_all">
        <img src="assets/img/cybercrime2.png">
        <button type="button" class="btn btn-default">View All</button>
        </div>
        </div>
        
        <div class="col-md-4 blockchain">
        <p> Blockchain Technology</p><p> Contributing To </p><p>Reasearch & Deveopment</p>
        <div class="view_all">
        <img src="assets/img/businessman-business-sketch.png">
        <button type="button" class="btn btn-default">View All</button>
        </div>
        </div>
        </div>
        </div>
      </div>
</section>
<section id="contact_form">
    <div class="container">
    <div class="row">
    <div class="col-md-6 Blockchain">
    <p>New to the Blockchain industry?</p>
    <p>Or got any queries</p>
    <p>We are just one click away!</p>
    </div>
    <div class="col-md-6">
    
    <div class="contact">
    
    <h3>Contact Us</h3>
    <h6>How can we help you?</h6>
    
     <form action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" id="textbox" placeholder="Your Name" name="email">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Your email address" name="pwd">
        </div>
       <div class="form-group">
          <input type="password" class="form-control" id="pwd" placeholder="Company" name="pwd">
        </div>
       <div class="form-group">
          <input type="text" class="form-control" id="subject" placeholder="Your Subject" name="pwd">
        </div>
       <div class="form-group">
          <textarea class="form-control" rows="5" id="comment" placeholder="Your Message..."></textarea>
        </div>
      
        <button type="submit" class="btn btn-primary" onclick="validateField()">Submit</button>
      </form>
      
    </div>
    </div>
    
    </div>
    </div>
  </section>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
		<ul>
          <li>SMART CONTRACTS DEVELOPMENT</li>
		  <li>EXCHANGES</li>
		  <li>BLOCKCHAIN DEVELOPMENT</li>
		  <li>HYPERLEDGER</li>
		  <li>PRIVATE BLOCKCHAIN DEVELOPMENT</li>
		  <li>WALLET</li>
		  </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>