.head-banner{
    background-image: url('/assets/img/bg/Rectangle 11.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 852px;
}
.bita{
    position: absolute;
    height: 140px;
    object-fit: contain;
    left: 8em;
    z-index: 9;
    top: 44.5em;
}
.bita1{
    height: 97px;
    object-fit: contain;
    position: absolute;
    left: 14.5em;
    top: 45.5em;
}