<!--The content below is only a placeholder and can be replaced.-->

<div class="head-banner">
    <app-header></app-header>
    <app-banner></app-banner>
    <div class="bit-coin">
            <img src="assets/img/feature-bitcoin copy.png" class="bita">
            <img src="assets/img/feature-bitcoin copy.png" class="bita1">
    </div>
    
</div>

<app-home></app-home>

<router-outlet></router-outlet>

<app-footer></app-footer>
