.bg-img{
    max-width: 100%;
}
.text-1{
    font-size: 93px;
    letter-spacing: 7px;
    color: rgb(255,255,255);
    font-family: "Lato";
    font-weight: 300;
    text-align: center;
}
.text-2{
    font-size: 129px;
    letter-spacing: 10px;
    color: rgb(255,255,255);
    font-family: "Lato";
    text-align: center;
    line-height: 0px;
}
.bann-txt {
    margin-top: 130px;
}
@media only screen and (max-width: 600px) {
    .text-1{
        font-size: 60px;
    }
    .text-2{
        font-size: 70px;
    }
    .bann-txt {
        margin-top: 15px;
    }
}