<section class="banner-sec">
    <div class="container banner-cont">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-3">
              <div class="bann-txt">
                  <p class="text-1">LOREM</p>
                  <p class="text-2">IPSUM</p>
              </div>
              </div>
              <div class="col-md-6 col-lg-9 col-xl-9">
                <img class="bg-img" src="assets/img/bg/bitcoin_3d_logo.png">
              </div>
        </div>
    </div>
</section>